## Different ways to handle missing values
- fillna()
- dropna()
- interpolate()
- replace()

In [3]:
import pandas as pd

In [32]:
weather_data = pd.read_csv('weather_data.csv')
weather_data

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [44]:
# type(weather_data.temperature[0])
weather_data.dtypes

day             object
temperature    float64
windspeed      float64
event           object
dtype: object

In [61]:
# converting day column from str to date 
weather_data = pd.read_csv('weather_data.csv' , parse_dates=['day']) 
weather_data.dtypes
weather_data.set_index('day' , inplace=True)

In [62]:
weather_data.to_c

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [6]:
# it will fill all NA values with 0
new_weather_data = weather_data.fillna(0)
new_weather_data

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [55]:
new_weather_data = weather_data.fillna({
    'temperature':0
})
type(new_weather_data)

pandas.core.frame.DataFrame

In [53]:
new_weather_data = weather_data[['day' ,'temperature']].ffill()
type(new_weather_data)

pandas.core.frame.DataFrame